<div class="container-fluid bg-dark text-white mt-5 pt-4 pb-4">
    <div class="container">
      <div class="row text-center text-md-start">
        <div class="col-12 col-md-3 mb-4">
          <h5 class="fw-bold">LBG - Tienda de Juegos</h5>
          <p>
            La mejor tienda para tus juegos de mesa favoritos. 
            ¡Juega, disfruta y comparte momentos únicos en familia!
          </p>
        </div>
        <div class="col-12 col-md-3 mb-4">
          <h5 class="fw-bold">Enlaces</h5>
          <ul class="list-unstyled">
            <li><a href="/home" class="text-white text-decoration-none">Inicio</a></li>
            <li><a href="/juegos" class="text-white text-decoration-none">Juegos</a></li>
            <li><a href="/complementos" class="text-white text-decoration-none">Complementos</a></li>
            <li><a href="/eventos" class="text-white text-decoration-none">Eventos</a></li>
          </ul>
        </div>
        
        <div class="col-12 col-md-3 mb-4">
            <h5 class="fw-bold">Síguenos</h5>
            <div class="d-flex flex-column align-items-center align-items-md-start">
            <a href="https://facebook.com/lbgstore" class="text-white mb-2">
                <i class="fab fa-facebook-f"></i> Facebook
            </a>
            <a href="https://x.com/LGB_Games_" class="text-white mb-2">
                <i class="fab fa-twitter"></i> Twitter
            </a>
            <a href="https://www.instagram.com/lacrimosaboardgames/" class="text-white">
                <i class="fab fa-instagram"></i> Instagram
            </a>
            </div>
        </div>
  
        <div class="col-12 col-md-3 mb-4">
          <h5 class="fw-bold">Contacto</h5>
          <ul class="list-unstyled">
            <li><i class="fas fa-phone"></i> +34 644 71 98 04</li>
            <li><i class="fas fa-envelope"></i> lacrimosaboardgames@gmail.com</li>
            <li><i class="fas fa-map-marker-alt"></i> Calle Gambo, 03501, Benidorm, Alicante</li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-4">
        <p>&copy; 2024 LBG Tienda de Juegos. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
  
