.navbar-dark .nav-item .nav-link {
    color: #fff;
  }
  
  .navbar-dark .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
  }
  
  .fa-li {
    position: relative;
    left: 0;
  }

.nav-title {
  font-size: 1rem; 
  font-weight: bold;       
  color: #FFD700;         
  letter-spacing: 2px;    
  text-transform: uppercase; 
  padding: 0.5rem 1rem; 
  margin-left: auto;       
  margin-right: auto;     
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}


