<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/home">
      <img id="LBG-logo" src="../../../assets/logo.png" alt="LBG Logo" draggable="false" height="60" />
    </a>

    <!-- Toggle button -->
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/juegos"><i class="fas fa-dice pe-2"></i>Juegos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/eventos"><i class="fas fa-trophy pe-2"></i>Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/complementos"><i class="fas fa-chess pe-2"></i>Complementos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/segunda-mano"><i class="fas fa-tag pe-2"></i>Segunda Mano</a>
        </li>
      </ul>
      <!-- Left links -->

      <!-- Search bar -->
      <form class="d-flex align-items-center w-100">
        <div class="input-group">
          <button 
            class="btn btn-light dropdown-toggle shadow-0" 
            type="button" 
            data-bs-toggle="dropdown" 
            aria-expanded="false"
            style="padding-bottom: 0.4rem;"
          >
            Categorías
          </button>
          <ul class="dropdown-menu dropdown-menu-dark fa-ul">
            <li>
              <a class="dropdown-item" href="/productos"><span class="fa-li pe-2"><i class="fas fa-cogs"></i></span>Todos</a>
            </li>
            <li>
              <a class="dropdown-item" href="/productos/mesa"><span class="fa-li pe-2"><i class="fas fa-table"></i></span>Mesas</a>
            </li>
            <li>
              <a class="dropdown-item" href="/productos/cartas"><span class="fa-li pe-2"><i class="fas fa-club"></i></span>Cartas</a>
            </li>
            <li>
              <a class="dropdown-item" href="/productos/puzzle"><span class="fa-li pe-2"><i class="fas fa-puzzle-piece"></i></span>Puzzles</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="/productos"><span class="fa-li pe-2"><i class="fas fa-search-plus"></i></span>Búsqueda avanzada</a>
            </li>
          </ul>
          <input type="search" class="form-control" placeholder="Buscar juegos" aria-label="Search" />
        </div>
        <a href="#!" class="text-white"><i class="fas fa-search ps-3"></i></a>
      </form>

      <!-- Right links -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/micuenta"><i class="fas fa-user-circle pe-2"></i>Mi Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center me-3" href="/carrito"><i class="fas fa-shopping-cart pe-2"></i>Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/login"><i class="fas fa-sign-in-alt pe-2"></i>Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/registro"><i class="fas fa-sign-in-alt pe-2"></i>Registro</a>
        </li>
      </ul>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

