<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="../../../assets/logo.png" style="width: 185px;" alt="LBG Logo">
                  <h4 class="mt-1 mb-5 pb-1">Bienvenido a LBG</h4>
                </div>
                <form (ngSubmit)="onSubmit()">
                  <p>Accede a tu cuenta para explorar juegos de mesa</p>
                  <div class="form-outline mb-4">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input
                      type="username"
                      id="username"
                      [(ngModel)]="username"
                      name="username"
                      class="form-control"
                      placeholder="Introduce tu Nombre de usuario"
                      required
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <label for="password" class="form-label">Contraseña</label>
                    <input
                      type="password"
                      id="password"
                      [(ngModel)]="password"
                      name="password"
                      class="form-control"
                      placeholder="Introduce tu contraseña"
                      required
                    />
                  </div>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg mb-3" type="submit">Iniciar Sesión</button>
                  </div>
                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">¿No tienes una cuenta?</p>
                    <button type="button" class="btn btn-outline-primary">Crear nueva</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center bg-light gradient-custom-2">
              <div class="text-black px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Sumérgete en el mundo de los juegos</h4>
                <p class="small mb-0">
                  En LBG, encontrarás una amplia variedad de juegos de mesa para todos los gustos. 
                  Desde los clásicos hasta las últimas novedades, únete a nuestra comunidad de apasionados 
                  por los juegos.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

